<div class="row">
    <div class="col-lg-12">
        <mat-card class="article-card" *ngIf="OneArticleDatas">
            <mat-card-header>
                <mat-card-title>
                    <button mat-icon-button (click)="goBack()">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="authormMenu" *ngIf="this.OneArticleDatas.user_id == this.userData.id">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #authormMenu="matMenu">
                        <button mat-menu-item
                            (click)="editArticle(a_id)">
                            <mat-icon>edit</mat-icon>
                            <span>編輯</span>
                        </button>
                        <button mat-menu-item
                            (click)="deleteArticle(a_id)">
                            <mat-icon>delete</mat-icon>
                            <span>刪除</span>
                        </button>
                    </mat-menu>
                    <h1>{{this.OneArticleDatas.title}}</h1>
                </mat-card-title>
                <mat-card-subtitle>{{this.OneArticleDatas.created_at | date: 'yyyy.MM.dd HH:mm'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="mt-2">
                <div class="row text-center">
                    <div class="col detail-article-img">
                        <img src="{{this.OneArticleDatas.img_url ?? '../../../assets/image/404-error.jpeg'}}"
                            class="detail-article-img" alt="">
                    </div>
                </div>
                <!--文章卡-->
                <div class="row mt-3" >
                    <div class="col" [ngClass]="{'adaptive-height': shouldApplyAdaptiveHeight()}">
                        <!-- <div class="adaptive-height" [innerHTML]="getFormattedContent()">
                        </div> -->
                        <!-- <p>{{this.OneArticleDatas.content}}</p> -->
                        <p [innerHTML]="this.OneArticleDatas.content"></p>
                        <!-- <p class="adaptive-height" [innerHTML]="trustedContent" [(ngModel)]="this.OneArticleDatas.content"></p> -->
                    </div>
                </div>
                <!--評論區塊-->
                <section id="comment-section" class="comment-bgc">
                    <!--comment chip-->
                    <div class="row">
                        <div class="col-3 d-flex align-items-center">
                            <mat-chip-listbox aria-label="Fish selection">
                                <mat-chip-option selected>熱門</mat-chip-option>
                                <mat-chip-option>由舊至新</mat-chip-option>
                            </mat-chip-listbox>
                            
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <button mat-icon-button class="favorite-btn" (click)="favoriteBtn()">
                                <mat-icon>{{favorite_status ? 'favorite' : 'favorite_border' }}</mat-icon>
                            </button>
                            <span>1,211</span>
                            <button mat-icon-button class="favorite-btn" (click)="turnedBtn()">
                                <mat-icon>{{turned_status ? 'turned_in' : 'turned_in_not' }}</mat-icon>
                                
                            </button>
                            <span>863</span>
                            <button mat-icon-button class="favorite-btn">
                                <mat-icon>share</mat-icon>
                            </button>
                        </div>
                    </div>
                    <!--comment count-->
                    <div class="row mt-3">
                        <div class="col d-flex align-items-center">
                            <p class="comment">共 {{commentTotal}} 則留言</p>
                        </div>
                    </div>
                    <!--顯示評論區塊-->
                    <div class="row" *ngFor="let item of commentDatas">
                        <mat-divider></mat-divider>
                        <div class="col-5 d-flex align-items-center">
                            {{item.content}}
                        </div>
                        <div class="col-7 d-flex align-items-center ">
                            <div class="col-8 d-flex align-items-center ">
                                <p class="comment">
                                    {{item.created_at | date: 'MM.dd HH:mm'}}
                                </p>
                            </div>
                            <!-- <div class="col-3 d-flex align-items-center">
                                <button mat-icon-button class="comment-btn"
                                    aria-label="Example icon button with a heart icon"
                                    class="favorite-btn">
                                    <mat-icon>favorite_border</mat-icon>
                                </button>
                            </div> -->
                            <div class="col-4 d-flex align-items-center">
                                <button mat-icon-button [matMenuTriggerFor]="menu" class="comment-btn"
                                    aria-label="Example icon button with a heart icon"
                                    *ngIf="item.user_id == this.userData.id">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item
                                        (click)="PostUpdateCommentData(item.id,item.content,item.created_at)">
                                        <mat-icon>edit</mat-icon>
                                        <span>編輯</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteComment(item.id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>刪除</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>

                    <!--填寫評論區塊-->
                    <div class="row mt-2">
                        <div class="col-10">
                            <mat-form-field style="width: 100%;">
                                <mat-label>留言</mat-label>
                                <input 
                                    matInput 
                                    placeholder="輸入留言" 
                                    [(ngModel)]="content"
                                    #titleLenth
                                    maxlength="30" 
                                >
                                <mat-hint align="end">{{titleLenth.value.length}} / 30</mat-hint>
                                <mat-error>帳號必填！</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <button mat-icon-button *ngIf="editStatusBtn == true" class="edit-btn"
                                aria-label="Example icon button with a heart icon" (click)="updateComment()">
                                <mat-icon class="icon-white">send</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="editStatusBtn == false" class="send-btn"
                                aria-label="Example icon button with a heart icon" (click)="uploadComment()">
                                <mat-icon class="icon-white">send</mat-icon>
                            </button>
                        </div>
                    </div>
                </section>

            </mat-card-content>
        </mat-card>
    </div>

</div>