<div class="row">
    <div class="row">
        <div class="col">
            <h1 class="pb-0 mb-0">首頁</h1>
        <p class="today-tips">{{this.today}}</p>
        </div>
        <div class="col">
            <button mat-mini-fab class="add-article-btn" (click)="addArticleLink()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="col-lg-8">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="d-flex align-items-center">
                    <mat-icon style="color: red;">whatshot</mat-icon>
                    熱門 > 
                    <!-- <button mat-mini-fab class="add-article-btn">
                        <mat-icon>add</mat-icon>
                    </button> -->
                </mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="mt-2">
                <!--文章卡-->
                <div class="row" *ngFor="let item of articleDatas; index as i">
                    <div class="col-6">
                        <div class="row">
                            <img src="{{item.img_url ? item.img_url:'../../../assets/image/404-error.jpeg'}}" class="article-img" alt="">
                        </div>
                        <div class="row mt-2">
                            <h2>
                                {{item.title}}
                            </h2>
                        </div>
                        <div class="row mt-2">
                            <p class="today-tips">
                                {{item.created_at | date: 'yyyy.MM.dd HH:mm'}}
                            </p>
                        </div>
                    </div>
                    <div class="col-6" >
                        <div class="row">
                            <div class="col article-content" >
                                <p>
                                    {{item.content}}
                                </p>
                            </div>
                        </div>
                        <div class="row mt-1" style="float: right;margin-right: 5px;">
                            <button mat-icon-button 
                                    class="edit-btn" 
                                    aria-label="Example icon button with a heart icon" 
                                    (click)="editArticle(item.id)" 
                                    *ngIf="item.user_id == this.userData.id">
                                <mat-icon class="icon-white">edit</mat-icon>
                            </button>
                            <button mat-icon-button 
                                    class="delete-btn" 
                                    aria-label="Example icon button with a heart icon" 
                                    (click)="deleteArticle(item.id)" 
                                    *ngIf="item.user_id == this.userData.id">
                                <mat-icon class="icon-white" >delete</mat-icon>
                            </button>
                            <button mat-fab 
                                    extended 
                                    class="expand-btn" 
                                    (click)="detailArticle(item.id)">
                                <mat-icon>exit_to_app</mat-icon>
                                閱讀全文
                            </button>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
                
                <!--文章卡-->
                <!-- <div class="row">
                    <div class="col">
                        <div class="row">
                            <img src="../../../assets/image/dcard1.png" class="article-img" alt="">
                        </div>
                        <div class="row mt-2">
                            <h2>
                                T-garden BambiSeries 日拋＆月拋新色👀 超自然的深黑色...
                            </h2>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col article-content">
                                <p>
                                    看到她代言 BambiSeries 之後一直很想購入!!剛好這週在寶島閒逛的時候看到有新品活動直接無情開逛 ´•ᴥ•`
                                    開始前先跟各位鄉親父老道歉ＱＱ不知為何戴上了日系隱眼我就會想裝可愛：））可能是因為我的既定印象是日系＝可愛
                                    ，也可能是因為我只是想裝可愛（？？？...
                                </p>
                            </div>
                        </div>
                        <div class="row" style="float: right;margin-right: 5px;">
                            <button mat-fab extended class="expand-btn" (click)="detailArticle()">
                                <mat-icon>exit_to_app</mat-icon>
                                閱讀全文
                            </button>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider> -->
                <!--文章卡-->
                <!-- <div class="row">
                    <div class="col">
                        <div class="row">
                            <img src="../../../assets/image/dcard2.png" class="article-img" alt="">
                        </div>
                        <div class="row mt-2">
                            <h2>
                                半夜被寵物叫起來睡不著了😠
                            </h2>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col article-content">
                                <p>
                                    今天整個大失眠!!平時一闔眼就睡著的我躺了大概半個小時才慢慢睡著，但是我本來睡得好好的，卻被我家小狗扒拉起來
                                    ，他平時要討關注的時候都會用手去扒拉我，但他剛剛把我叫醒後也沒有要我跟他玩
                                    ，就在那邊一臉呆瓜的看我，然後小狗叫我起床後，就換大貓一直撥我的腳，像是把我的腳當作貓砂在撥一樣，然後就跟小狗一起跑掉了...
                                </p>
                            </div>
                        </div>
                        <div class="row" style="float: right;margin-right: 5px;">
                            <button mat-fab extended class="expand-btn">
                                <mat-icon>exit_to_app</mat-icon>
                                閱讀全文
                            </button>
                        </div>
                    </div>
                </div> -->
                <!-- <mat-divider></mat-divider> -->
                <!--文章卡-->
                <!-- <div class="row">
                    <div class="col">
                        <div class="row">
                            <img src="../../../assets/image/dcard3.png" class="article-img" alt="">
                        </div>
                        <div class="row mt-2">
                            <h2>
                                薑是老的辣！14檔台股主動基金20年賺逾1000%比ETF更賺
                            </h2>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col article-content">
                                <p>
                                    台灣ETF市場邁入20年，台股ETF更成吸金王，統計至今年6月底，首檔台股ETF 元大台灣50（0050T）累積報酬於550%，
                                    其實同期間的台股主動型基金績效更為亮眼，台股主動基金平均報酬646.57%，其中14檔台股基金20年賺逾1000%，等於翻10倍，
                                    績效極為驚人！全球金融市場去年面臨股債雙殺，境內基金根據投信投顧公會統計資料，32種基金類型僅10種成長，其中台股...
                                </p>
                            </div>
                        </div>
                        <div class="row" style="float: right;margin-right: 5px;">
                            <button mat-fab extended class="expand-btn">
                                <mat-icon>exit_to_app</mat-icon>
                                閱讀全文
                            </button>
                        </div>
                    </div>
                </div> -->
                <!-- <mat-divider></mat-divider> -->
                <mat-paginator #paginator [length]="100" [pageSizeOptions]="[3, 5, 10]" aria-label="Select page">
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title class="d-flex align-items-center" *ngIf="this.nowLocationData">
                        <mat-icon style="color: red;">location_on</mat-icon> 
                        {{this.city}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf="this.dispalyForcastWeatherData">
                    <p class="today-tips">{{this.nowWeatherDiscription}}</p>
                    <div class="row">
                        <div class="col d-flex align-items-center ">
                            <span style="font-size:50px;font-weight: 200;">{{this.nowTemp}}°C</span>
                        </div>
                        <div class="col d-flex align-items-center">
                            <img width="60" alt="Angular Logo" src="../assets/image/cloudy.png"/>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="row" style="padding-top: 12px;">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title class="d-flex align-items-center">
                        <mat-icon>thumb_up_alt</mat-icon> 
                        精選 >
                    </mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content *ngIf="randomArticleDatas">
                    <!--精選文章卡-->
                    <div class="row" *ngFor="let item of randomArticleDatas; index as i">
                        <div class="col">
                            <div class="row">
                                <div class="col-10">
                                    <a href="/detailArticle/{{item.id}}">
                                        <h3>
                                            {{item.content}} ...
                                        </h3>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <mat-icon>call_made<</mat-icon>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                        
                    </div>
                    
                </mat-card-content>
                <mat-card-actions>
    
                </mat-card-actions>
            </mat-card>
        </div>
        
    </div>
</div>