<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="row" style="width: 100%;">
        <div class="col-lg-2">
            <img width="60" alt="Angular Logo" src="../assets/image/linknet-logo.png" (click)="homeLink()" />
            <!-- <div class="spacer"></div> -->
        </div>
        <div class="col-lg-8">
            <input class="form-control form-control-lg search-bar" type="text" placeholder="搜尋主題和來源"
                aria-label=".form-control-lg example">
        </div>
        <div class="col-lg-2 pt-1">
            <div class="user-logo">
                <button mat-icon-button>
                    <mat-icon>settings</mat-icon>
                </button>

                <!-- <button mat-fab extended>
            Hi!Admin
          </button> -->
                <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="this.userData">
                    <mat-icon>person</mat-icon>
                    <!-- <img width="40" class="user-logo" alt="Angular Logo" src="../assets/image/user.png" /> -->
                </button>
                <!-- <span *ngIf="!this.userData" class="user-name">未登入</span> -->
                <span *ngIf="this.userData" class="user-name">Hi {{ this.userData ? this.userData.username : '未登入' }}!</span>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="addArticleLink()">
                        <mat-icon>add</mat-icon>
                        <span>新增文章</span>
                    </button>
                    <button mat-menu-item (click)="privyLink()">
                        <mat-icon>person</mat-icon>
                        <span>個人頁面</span>
                    </button>
                    <button mat-menu-item (click)="collectionLink()">
                        <mat-icon>favorite_border</mat-icon>
                        <span>我的收藏</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>登出</span>
                    </button>
                </mat-menu>
            </div>
            <!-- <mat-icon>settings</mat-icon>
        <a href="">
          <img width="40" class="user-logo" alt="Angular Logo" src="../assets/image/user.png" />
        </a> -->
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col">
            <ul class="nav nav-underline justify-content-center ">
                <li class="nav-item">
                    <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab"
                        aria-controls="tab1" aria-selected="true">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
                        aria-selected="false">推薦</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                        aria-selected="false">追蹤中</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                        aria-selected="false">美食</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                        aria-selected="false">理財</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
                        aria-selected="false">工作</a>
                </li>
            </ul>
        </div>

    </div>

</div>