/*今日提示*/
.today-tips{
    color: #888;
}

/*圖片圓角*/
.article-img{
    width: 100%;
    border-radius:5%;
}

/*h2 mb*/
h2{
    margin-bottom: 0;
}

/*隔線上下距離*/
mat-divider {
    margin-top: 10px;
    margin-bottom: 10px; 
}

/*文章內容預留空間*/
.article-content {
    height: 260px;
}

/*查看完整文章按鈕*/
.expand-btn {
    float: right;
    background-color: #f2f2f2;
    color: #333333;
    box-shadow: none;
}

.delete-btn {
    background-color: rgb(210, 0, 0);
    color: #FFFFFF;
    margin-right: 5px;
}

.edit-btn {
    background-color: rgb(29, 173, 0);
    color: #FFFFFF;
    margin-right: 5px;
}

/* .icon-btn{
    background-color: #f2f2f2;
    box-shadow: none;
    margin-right: 5px;
}

.icon-red{
    color:rgb(210, 0, 0) ;
}

.icon-green{
    color:rgb(29, 173, 0) ;
} */

.icon-white {
 color: #FFFFFF;
}

mat-icon{
    color: #333333;
    /* margin-bottom: 5px; */
    margin: 0;
}

mat-card{
    border-radius:2%;
  }


/*新增文章按鈕*/
.add-article-btn {
    float: right;
    background-color: #f2f2f2;
    color: #333333;
    box-shadow: none; 
  }