<div class="row">
    <div class="row">
        <div class="col">
            <h1 class="pb-0 mb-0">我的文章</h1>
        <p class="today-tips">{{this.today}}</p>
        </div>
        <div class="col">
            <button mat-mini-fab class="add-article-btn">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="col-lg">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title><mat-icon>person</mat-icon> > </mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="mt-2">
                <!--文章卡-->
                <div class="row" *ngFor="let item of userArticleDatas; index as i">
                    <div class="col-4">
                        <div class="row">
                            <img src="{{item.img_url ? item.img_url:'../../../assets/image/404-error.jpeg'}}" class="article-img" alt="">
                        </div>
                        <div class="row mt-2">
                            <h2>
                                {{item.title}}
                            </h2>
                        </div>
                        <div class="row mt-2">
                            <p class="today-tips">
                                {{item.created_at | date: 'yyyy.MM.dd HH:mm'}}
                            </p>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col article-content">
                                <p>
                                    {{item.content}}
                                </p>
                            </div>
                        </div>
                        <div class="row" style="float: right;margin-right: 5px;">
                            <button mat-fab extended class="expand-btn" (click)="detailArticle(item.id)">
                                <mat-icon>exit_to_app</mat-icon>
                                閱讀全文
                            </button>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>
                
                <!--文章卡-->
                <!-- <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <img src="../../../assets/image/pricy-image.jpg" class="article-img" alt="">
                        </div>
                        <div class="row mt-2">
                            <h2>
                                月月配00929 vs 00878+0056+00713報酬率...
                            </h2>
                        </div>
                        <div class="row mt-2">
                            <p class="today-tips">
                                2023/8/3 18:45
                            </p>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col article-content">
                                <p>
                                    最近復華台灣科技優息ETF 00929又準備要除息了，繼7月份第一次除息就配出每單位0.11元後，
                                    8月份第二次配息預估為每單位0.11元，投資人如果想參與此次配息，8/16為最後買進日。
                                    復華台灣科技優息ETF 00929，2023/06/09一上市就帶來一波投資熱潮，當天成交量達到12萬張，
                                    創下近兩年來國內台股ETF掛牌首日的紀錄，截至2023/7/31其規模已達209.1億、受益人數自成立以來成長將近6倍，
                                    達11.5萬人、過去一個月每日平均成交量約5.7萬張。
                                    若你是想要打造月月配現金流的投資人，正在懊惱要直接買單一支月配息ETF 00929，還是要用季配息ETF來組成月月配，
                                    甚至是兩者都選擇做為自己的月月配投資組合，以下提供四個觀點，提供大家思考！...
                                    投資人想要月月配就是希望現金流越多越好，因此殖利率是一個很重要的參考指標，其平均年化殖利率越高，我們一整年領下來的股利也就越多。
                                    以00878+00713+債券ETF (00725B、00720B)的組合來說，...
                                </p>
                            </div>
                        </div>
                        <div class="row" style="float: right;margin-right: 5px;">
                            <button mat-fab extended class="expand-btn">
                                <mat-icon>exit_to_app</mat-icon>
                                閱讀全文
                            </button>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider> -->
                <!--文章卡-->
                <!-- <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <img src="../../../assets/image/pricy-image.jpg" class="article-img" alt="">
                        </div>
                        <div class="row mt-2">
                            <h2>
                                月月配00929 vs 00878+0056+00713報酬率...
                            </h2>
                        </div>
                        <div class="row mt-2">
                            <p class="today-tips">
                                2023/8/3 18:45
                            </p>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col article-content">
                                <p>
                                    最近復華台灣科技優息ETF 00929又準備要除息了，繼7月份第一次除息就配出每單位0.11元後，
                                    8月份第二次配息預估為每單位0.11元，投資人如果想參與此次配息，8/16為最後買進日。
                                    復華台灣科技優息ETF 00929，2023/06/09一上市就帶來一波投資熱潮，當天成交量達到12萬張，
                                    創下近兩年來國內台股ETF掛牌首日的紀錄，截至2023/7/31其規模已達209.1億、受益人數自成立以來成長將近6倍，
                                    達11.5萬人、過去一個月每日平均成交量約5.7萬張。
                                    若你是想要打造月月配現金流的投資人，正在懊惱要直接買單一支月配息ETF 00929，還是要用季配息ETF來組成月月配，
                                    甚至是兩者都選擇做為自己的月月配投資組合，以下提供四個觀點，提供大家思考！...
                                    投資人想要月月配就是希望現金流越多越好，因此殖利率是一個很重要的參考指標，其平均年化殖利率越高，我們一整年領下來的股利也就越多。
                                    以00878+00713+債券ETF (00725B、00720B)的組合來說，...
                                </p>
                            </div>
                        </div>
                        <div class="row" style="float: right;margin-right: 5px;">
                            <button mat-fab extended class="expand-btn">
                                <mat-icon>exit_to_app</mat-icon>
                                閱讀全文
                            </button>
                        </div>
                    </div>
                </div> -->
                <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
                </mat-paginator>
            </mat-card-content>
            
        </mat-card>
    </div>
    
</div>