<div class="row">
    <div class="row">
        <h1 class="pb-0 mb-0">我的收藏</h1>
        <p class="today-tips">8月３日 星期四</p>
    </div>
    <div class="col-lg">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title><mat-icon>favorite</mat-icon> > </mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="mt-2">
                <!--文章卡-->
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="image-container">
                                <img src="../../../assets/image/dcard4.png" class="article-img" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-10 title" >
                        <h2 class="" >
                            #分享 只要不停產就會繼續回購的好物！
                        </h2>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!--文章卡-->
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="image-container">
                                <img src="../../../assets/image/dcard4.png" class="article-img" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-10 title" >
                        <h2 class="" >
                            #分享 只要不停產就會繼續回購的好物！
                        </h2>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!--文章卡-->
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="image-container">
                                <img src="../../../assets/image/dcard4.png" class="article-img" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-10 title" >
                        <h2 class="" >
                            #分享 只要不停產就會繼續回購的好物！
                        </h2>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!--文章卡-->
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="image-container">
                                <img src="../../../assets/image/dcard4.png" class="article-img" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-10 title" >
                        <h2 class="" >
                            #分享 只要不停產就會繼續回購的好物！
                        </h2>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!--文章卡-->
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="image-container">
                                <img src="../../../assets/image/dcard4.png" class="article-img" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-10 title" >
                        <h2 class="" >
                            #分享 只要不停產就會繼續回購的好物！
                        </h2>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <!--文章卡-->
                <div class="row">
                    <div class="col-2">
                        <div class="row">
                            <div class="image-container">
                                <img src="../../../assets/image/dcard4.png" class="article-img" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-10 title" >
                        <h2 class="" >
                            #分享 只要不停產就會繼續回購的好物！
                        </h2>
                    </div>
                </div>
                <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
                </mat-paginator>
            </mat-card-content>

        </mat-card>
    </div>

</div>