<div class="row">
    <div class="row">
        <h1 class="pb-0 mb-0">新增文章</h1>
        <p class="today-tips">8月３日 星期四</p>
    </div>
    <!--material-->
    <!-- <div class="row">
        <mat-form-field class="example-full-width">
            <textarea matInput #title id="title" maxlength="30" placeholder="輸入文章標題"></textarea>
            <mat-hint align="end">{{title.value.length}} / 30</mat-hint>
        </mat-form-field>
        
    </div>
    <div class="row">
        <mat-form-field class="example-full-width" class="textarea-content">
            <textarea class="textarea-content" matInput #content id="content" maxlength="300" placeholder="輸入文章內容"></textarea>
            <mat-hint align="end">{{content.value.length}} / 300</mat-hint>
        </mat-form-field>
    </div> -->

    <!--bootstrap-->
    <div class="row">
        <textarea class="" id="textarea-title" rows="3" placeholder="輸入文章標題"></textarea>
    </div>
    <div class="row mt-5">
        <textarea class="" id="extarea-content" rows="3" placeholder="輸入文章內容"></textarea>
    </div>
</div>


<!-- <h1>AngularEditor</h1>
<angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
<h1>HTML Output</h1>
<div class="html">
  {{ htmlContent }}
</div> -->