<div class="row">
    <div class="row">
        <h1 class="pb-0 mb-0">新增文章</h1>
        <p class="today-tips">8月３日 星期四</p>
    </div>
    <!--material-->
    <div class="row">
        <mat-form-field appearance="outline">
            <textarea 
                matInput
                #title 
                id="title" 
                name="title" 
                maxlength="30" 
                placeholder="輸入文章標題" 
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10"
                required></textarea>
            <mat-hint align="end">{{title.value.length}} / 30</mat-hint>
        </mat-form-field>
        
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="textarea-content">
            <textarea 
                class="textarea-content" 
                matInput 
                #content 
                id="content" 
                name="content" 
                maxlength="1000"
                placeholder="輸入文章內容"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="30" 
                required></textarea>
            <mat-hint align="end">{{content.value.length}} / 1000</mat-hint>
        </mat-form-field>
    </div>

    <div class="row">

        <div class="d-grid gap-2 col mx-auto">
            <button class="btn btn-danger delete-btn" type="button">取消</button>
        </div>
        <div class="d-grid gap-2 col mx-auto">
            <button class="btn btn-primary save-btn" type="button">儲存</button>
        </div>
    </div>
    <!-- <mat-form-field>
        <textarea name="intro_self" matInput placeholder="自我介紹" matTextareaAutosize required></textarea>
        <mat-hint>簡單介紹一下你的興趣吧！</mat-hint>
    </mat-form-field> -->
    <!--bootstrap-->
    <!-- <div class="row">
        <textarea class="" id="textarea-title" rows="3" placeholder="輸入文章標題"></textarea>
    </div>
    <div class="row mt-5">
        <textarea class="" id="extarea-content" rows="3" placeholder="輸入文章內容"></textarea>
    </div> -->
</div>

<!-- <mat-form-field>
    <textarea cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" matInput></textarea>
    <mat-hint>簡單介紹一下你的興趣吧！</mat-hint>
</mat-form-field> -->
<!-- <h1>AngularEditor</h1>
<angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
<h1>HTML Output</h1>
<div class="html">
  {{ htmlContent }}
</div> -->